<launch>
  <arg name="demo_base_dir" default="/home/irsl/temp/baselinemanip_docker_devel/project_research/teleop/robot"/>
  <!-- choreonoid -->
  <arg name="worldsettings" default="world.yaml" />
  <arg name="robot_name" default="divided_robot"/>
  <!-- ros_control -->
  <arg name="model" default="$(arg demo_base_dir)/simplehand.urdf"/>
  <arg name="controllers" default="trajectory_controller joint_state_controller" />

  <include file="$(find irsl_choreonoid_ros)/launch/run_sim_with_setup_cnoid.launch">
    <arg name="controllers" value="$(arg controllers)" />
    <arg name="setup_cnoid" value="$(arg demo_base_dir)/$(arg worldsettings)" />
    <arg name="model_file" value="$(arg model)" />
    <arg name="model_namespace" value="divided_robot" />
    <arg name="control_namespace" value="divided_robot" />
  </include>

  <group ns="$(arg robot_name)" >
  </group>
</launch>
